:root {
  --black: #000000;
  --blue-100: #9b4dca;
  --blue-500: #f1c40f;
  --border-radius: 0.8rem;
  --gray-200: #777777;
  --gray-300: #ff0080;
  --gray-400: #ffcc00;
  --gray-500: #ff6600;
  --primary: var(--gray-500);
  --white: #eaecee;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 80%;
}

body {
  background-color: var(--black);
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
  margin: 0;
  color: var(--white);
}

pre {
  text-align: center;
  margin: 1.6rem 0 0 0;
  white-space: pre-wrap;
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
}

code {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
}
