:root {
  --black: #000000;
  --blue-100: #cfe4f4;
  --blue-200: #9fc9e8;
  --blue-300: #6faede;
  --blue-400: #3f93d2;
  --blue-500: #1468c6;
  --blue-600: #1053a2;
  --blue-700: #0c3d7e;
  --blue-800: #062759;
  --blue-900: #021135;
  --border-radius: 0.8rem;
  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #bfbfbf;
  --gray-400: #a6a6a6;
  --gray-500: #8c8c8c;
  --gray-600: #737373;
  --gray-700: #595959;
  --gray-800: #404040;
  --gray-900: #262626;
  --white: #ffffff;
  --primary: var(--blue-100);
  --white: #fff;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 80%;
}

body {
  background-color: var(--blue-100);
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
  margin: 0;
  color: var(--black);
}

pre {
  text-align: center;
  margin: 1.6rem 0 0 0;
  white-space: pre-wrap;
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
}

code {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
}
